<ion-content class="registro-de-usuario">
  <ion-grid>
    <ion-row>
      <!--Adorno Superior-->
      <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
        <svg class="adorno" viewBox="0 0 375 226" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M-70 65.5C-70 65.5 1 27.5004 188.5 111C376 194.5 405.5 118 405.5 118L376 -124H1L-70 65.5Z" fill="black" fill-opacity="0.5"/>
          <path d="M445 113.112C445 113.112 373.925 62.3561 186.228 173.886C-1.46899 285.415 -31 183.235 -31 183.235L-1.46899 -140H373.925L445 113.112Z" fill="black" fill-opacity="0.5"/>
        </svg>
      </ion-col>
      <!--Imagen Usuario-->
      <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
        <img src="../../../assets/Imagenes/Avatar.jpg" />
      </ion-col>
      <!--Carta de Registro-->
      <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
        <ion-card>
          <!--Formulario-->
          <form #formulario="ngForm">
            <ion-grid>
              <ion-row>
                <!--Correo-->
                <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
                  <ion-item>
                    <ion-label floating>Correo</ion-label>
                    <ion-input type="email" placeholder="Ingrese un correo valido" required name="correo" ngModel></ion-input>
                  </ion-item>
                </ion-col>
                <!--Contraseña-->
                <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
                  <ion-item>
                    <ion-label floating>Contraseña</ion-label>
                    <ion-input type="password" placeholder="6 o mas digitos" required name="clave" ngModel></ion-input>
                  </ion-item>
                </ion-col>
                <!--Creacion de Cuenta-->
                <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
                  <ion-button class="inicioSesion" color="medium"  (click)="iniciarSesion(formulario)"> Iniciar Secion </ion-button> 
                </ion-col>
                <!--Boton de Verificacion-->
                <ion-col size-sm="12" size-lg="12" size-md="12" size-xs="12">
                  <ion-button class="Login" color="medium"   (click)="registrarUsuario(formulario)">Registrarse</ion-button>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>