
@media (min-width: 600px){
    ion-img{
        width: 20%;
        height: 20%;
    }
    ion-card{
        padding: 20%;
    }
}

@media (max-width: 600px){
    ion-img{
        width: 20%;
        height: 20%;
    }
    ion-card{
        padding: 10%;
    }
}