
// Variables 
$primary: #ffffff;
// Estilos generales
ion-content, ion-header {
  --background: $primary;
}
//Contenido
.inicio {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;
  top: 7%;
}

img
{
    background-color:  #EEE;
}

.adorno2 {
    position:absolute;
    left: -20%;
    top: 70%;
    height: 60%;
    width: 140%;
  }
.header{
  position: absolute;
  background: #615e5e;
  box-shadow: 6px rgba(0, 0, 0, 0.275);
  border-radius: 0px 0px 20px 20px;
}


.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #EEE;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 60%;
  font-size: 60%;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgb(58, 56, 56);
  transition: all .15s ease-in-out;
}


.radio-inputs .radio input:checked + .name {
  background: #7d7979;
  font-weight: 600;
}
