// Variables 
$primary: #ffffff;
// Estilos generales
ion-content, ion-header {
  --background: $primary;
}
//Contenido
.inicio {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;  
}

img {
    position: relative;
    top: 15%;
    padding: 1%;
    height: 60%;
    width: 15%;
    border-radius: 100%;
}
