// Variables 
$primary: #ffffff;
// Estilos generales
ion-content, ion-header {
  --background: $primary;
}
//Contenido
.presentacion {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;  
}
// Footer
.adorno,.adorno2 {
  overflow: visible;
}
// Texto
#welcome-back {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
  font-size: 800%; 
}
//Botones
.boton, .ActBluet {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;  
  position: absolute;
}

// Media queries
@media (max-width: 600px){
//Texto
  #welcome-back {
    font-size: 420%;
  }
  //Botones
  .boton, .ActBluet {
    border-radius: 100%;
    width: 95%;
    font-size: 190%; 
  }
  .adorno,.adorno2 {
    overflow: visible;
  }
}