// Variables 
$primary: #ffffff;
// Estilos generales
ion-content, ion-header {
  --background: $primary;
}
//Contenido
.presentacion {
  background: $primary;
  width: 100%;
  height: 100%;
  position: relative;  
}

  video#videoFondo {
    position: fixed;
    top: 0;
    left: -50%;
    width: 100%;
    height: -1%;
    width: auto;
    height: auto;
    object-fit: cover; /* Esto asegura que el video cubra todo el contenedor sin deformarse */
  z-index: -1;
  }

  .adorno,
  #welcome-back,
  .boton {
    /* Estilos para asegurar que los demás elementos estén por encima del video */
    position: relative;
    z-index: 1;
  }

// Footer
.adorno,.adorno2 {
  overflow: visible;
}
// Texto
#welcome-back {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
  font-size: 800%; 
}
//Botones
.boton, .ActBluet {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

// Media queries
@media (max-width: 600px){
  video#videoFondo {
    position: fixed;
    top: 10%;
    left: -49%;
    max-width: 200%;
    height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; /* Esto asegura que el video cubra todo el contenedor sin deformarse */
  z-index: -1;
  }

//Texto
  #welcome-back {
    font-size: 420%;
  }
  //Botones
  .boton, .ActBluet {
    border-radius: 100%;
    width: 95%;
    font-size: 190%; 
  }
  .adorno,.adorno2 {
    overflow: visible;
  }
}