<ion-menu side="end" contentId="main-content">
  <ion-header>
        <ion-label class="ellipse"></ion-label>
        <img src="business-3-d-young-man-in-formalwear-standing-with-hands-on-hip-10.png" />
       
  </ion-header>
  <ion-content class="ion-padding">
    <ion-toggle [enableOnOffLabels]="true">Enable Notifications</ion-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="../biblioteca"></ion-back-button>
      <ion-menu-button slot="end"></ion-menu-button>
    </ion-toolbar>
  <ion-back-button slot="start" >Back</ion-back-button>
</div>

<ion-label>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pentatonica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img ></ion-img>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escalas Menores</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img ></ion-img>
      </ion-card-content>
  </ion-card>
  <svg class="adorno2" viewBox="0 0 375 200" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M445 160.5C445 160.5 374 198.5 186.5 115C-1 31.4996 -30.5 108 -30.5 108L-1 350L374 350L445 160.5Z" fill="black" fill-opacity="0.5"/>
    <path d="M-70 112.888C-70 112.888 1.07466 163.644 188.772 52.1143C376.469 -59.4152 406 42.7651 406 42.7651L376.469 366L1.07466 366L-70 112.888Z" fill="black" fill-opacity="0.5"/>
    </svg>
</ion-label>